# 10. Combining Multiple Datasets in the Movie Lens Dataset

Importing the libraries

In [9]:
import pandas as pd

Importing the dataset

In [10]:
ratings = pd.read_csv('./datasets/movielens/ratings.csv')
tags = pd.read_csv('./datasets/movielens/tags.csv')
movies = pd.read_csv('./datasets/movielens/movies.csv')
links = pd.read_csv('./datasets/movielens/links.csv')

Merging datasets

In [11]:
# Merge ratings with movies
ratings_movies = pd.merge(ratings, movies, on='movieId', how='left')

# Merge the result with tags
ratings_movies_tags = pd.merge(ratings_movies, tags, on=['userId', 'movieId'], how='left')

# Merge the result with links
combined_df = pd.merge(ratings_movies_tags, links, on='movieId', how='left')

Handling missing values

In [12]:
combined_df['tag'] = combined_df['tag'].fillna('')
combined_df = combined_df.dropna(subset=['title', 'genres'])

Convert timestamp to datetime

In [13]:
combined_df['rating_timestamp'] = pd.to_datetime(combined_df['timestamp_x'], unit='s')
combined_df['tag_timestamp'] = pd.to_datetime(combined_df['timestamp_y'], unit='s')

c:\Users\rehma\AppData\Local\Programs\Python\Python311\Lib\site-packages\pandas\core\tools\datetimes.py:557: RuntimeWarning: invalid value encountered in cast
  arr, tz_parsed = tslib.array_with_unit_to_datetime(arg, unit, errors=errors)

Dropping original timestamp columns as not needed

In [14]:
combined_df = combined_df.drop(columns=['timestamp_x', 'timestamp_y'])

In [15]:
combined_df.head()

,userId,movieId,rating,title,genres,tag,imdbId,tmdbId,rating_timestamp,tag_timestamp
0,1,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,,114709,862.0,2000-07-30 18:45:03,NaT
1,1,3,4.0,Grumpier Old Men (1995),Comedy|Romance,,113228,15602.0,2000-07-30 18:20:47,NaT
2,1,6,4.0,Heat (1995),Action|Crime|Thriller,,113277,949.0,2000-07-30 18:37:04,NaT
3,1,47,5.0,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,,114369,807.0,2000-07-30 19:03:35,NaT
4,1,50,5.0,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,,114814,629.0,2000-07-30 18:48:51,NaT